<div [className]="'game'">
  <div [className]="'game-board'">
    <app-board
      [squares]="history[stepNumber].squares"
      (clicked)="onClicked($event)"
    ></app-board>
  </div>
  <div [className]="'game-info'">
    <div [className]="'status'">{{ status }}</div>
    <ol>
      <li *ngFor="let step of history; index as move; trackBy: trackFn">
        <button *ngIf="move === 0" (click)="jumpTo(move)">
          Go to game start
        </button>
        <button *ngIf="move !== 0" (click)="jumpTo(move)">
          Go to move #{{ move }}
        </button>
      </li>
    </ol>
  </div>
</div>
